* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #333;
}


.header {
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-img {
    width: 70px;
}


.menu {
    background: #000;
    padding: 15px 0;
    text-align: center;
}

.menu a {
    color: #fff;
    margin: 0 40px;
    font-size: 16px;
    text-decoration: none;
}


.imagencabecera {
    text-align: center;
    margin-top: 20px;
}

.imagencabecera img {
    width: 70%;
    border-radius: 20px;
    display: block;
    margin: auto;
    margin-top: 20px;
    box-shadow: #000 -3px -4px;
}

.texto {
    max-width: 600px;
    font-size: 16px;
    line-height: 1.6;
}


.bloque {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 220px 1fr 320px;
    gap: 40px;
    padding-top: 20px;
    align-items: start;
}


.lateral {
    background: #b5c354;
    color: white;
    padding: 30px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.texto-grande {
    font-size: 18px;
    text-align: justify;
}

.destacado {
    font-style: italic;
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
    margin: 25px 0;
}

.imagenes {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.imagenes img {
    width: 100%;
    border-radius: 15px;
    display: block;
}

.formulario {
    background-color: #beaaaa;
    width: 80%;
    margin: auto;
    padding: 30px;
    border-radius: 8px;
    margin-top: 20px;
}

.formulario h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

form {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px 20px;
}

.linea {
    display: contents;
}

label {
    font-size: 15px;
    padding-top: 10px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-family: inherit;
}

textarea {
    height: 150px;
    resize: none;
}

button {
    grid-column: 2 / 3;
    width: 100px;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
    float: right;
}

button:hover {
    background-color: #45a049;
}

.footer {
    width: 120%;
    background-color: #b5b543;
    padding: 60px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;

    margin-top: 20px;


    bottom: 0;
    text-align: center;
    width: 100%;



}

.footer-columna h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.footer-columna ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-columna ul li {
    font-size: 14px;
    margin-bottom: 8px;
    letter-spacing: 1px;
}


/* Tamaño para moviles (media query) */
@media (width<550px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .experiencias {
        flex-direction: column;
    }

    .ejemplos {
        grid-template-columns: auto;
    }
}

/* Si el tamaño es intermedio, pa tablets y trucos (media query) */

@media ((width<700px) and (width>500px)) {
    .ejemplos {
        grid-template-columns: repeat(6, 1fr);
    }
}

.titulopizza {
    margin-top: 20px;
    text-align: center;
    text-shadow: #000 1px 1px;
    margin-bottom: 10px;
}